* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 6rem;
  padding-left: 6rem;
  background: #5cdf10;
}
header h1 {
  color: #ffffff;
}
header input {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 100px;
  border: none;
  border-radius: 10px;
}
.main ul {
  width: auto;
  list-style-type: none;
  margin-top: 1rem;
  border: solid 1px #aaaaaa;
  border-radius: 7px;
  margin-left: 2rem;
  overflow:auto;
}
.second {
    height: 200px;
  background-color: #616161;
  width: 40px;
  display: inline-block;
}
.second button {
  border-radius: 4px;
  /* color: #ffffff; */
  background-color: rgb(255, 0, 0);
  border: none;}
.second button:hover {
  background-color: #e6a4a4;
}
#main button {
  color: #ffffff;
  background-color: #616161;
  border: none;
  border-radius: 4px;
  width: 60px;
  height: 30px;
  padding: 3px;
}
#main h1 {
  margin-left: 2rem;
  color: #494949;
}
#main input {
  height: 30px;
  margin-left: 1.6rem;
  border-radius: 8px;
  border: solid 0.5px #aaaaaa;
}
#main button:hover {
  background-color: #aaaaaa;
}

.main {
    height: 290px;
  width: 400px;
  display: inline-block;
}
