* {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: #f8c88d;
}
.child {
  width: 150px;
  height: 150px;
  background-color: #4284ff;
  box-sizing: border-box;
  padding: 10px;
  transition: all 2s cubic-bezier(0.73, -0.54, 0.02, 1.05);
  /* transition-property: transform; */
  /* transition-duration: 0.5s; */

  
}
.parent:hover .child {
  transform: translateX(250px) translateY(250px);
  background-color: brown;
  /* transition: transform 2s cubic-bezier(0.73, -0.54, 0.02, 1.05); */
}
