body{
    background-color: #bdbdbd;
}
*{
    margin: 20px;
}
.main{
    
    box-shadow : -5px -5px 28px;
    border-radius: 15px;
    border: 2px solid #8e48ff;
    width: 400px;
    height: 600px;
    background-color: #ffe4c4;
    margin: auto;
  
}
.main h1{
   
    text-align: center;
}
.main h3{
    text-align: center;
}
.main p{
    
    text-align: justify;
    text-align-last: right;
    
}



.main img {
    border-bottom: 3px solid #00ffb3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 400px;
    height: 200px;
    margin: auto;
}
p:hover{
    background-color: #cf9800;
    border-radius: 10px;
    color: #fbff00;
}