body{
  scroll-behavior: smooth;
  
  background-color: #353535;
}
*{
    margin: 10px;
    margin-top: 0;
}
.main h1{
padding: 10px;
text-align:center;
position: relative;

}
    .div1 img{
       
  max-width: 100%;
  max-height:100% ;
      
width: 1366px;
height: 700px;
object-fit: cover;

    }
h3{
    text-align: center;
}
.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);}
  .centered h1{
    margin:1px auto ;
    font-size: 40px;
    color: #ffee00;

  }
  .centered h3{
    margin: 1px auto;
    position: absolute;
    top: 60px;
    right: 11px;
    font-size:17px ;
    color: #ffee00;
  }
  .bottom-left {
    position: absolute;
    bottom: -147px;
    left: 170px;}
    
    .bottom-left h2{
      
      color: #ffee00;
    
    }
    .bottom-left:hover h2{
      color: #8b8b8b;
      transition: all 0.5s ease-in-out;
      
    }
    .main h1{
      color: #929292;
    }
    .main p{
      color: #929292;
      text-align: justify;
      text-align-last:center ;
    }
    .number h1{
     position: absolute;
     bottom: -260px;
     left: 20px;
     
    }
    .number{
      padding: 20px;
    }
    .paragraf{
      width: 1000px;
      margin: 1px auto;
      padding: 10px;

      /* position: absolute; */
      /* right: 112px; */
      /* bottom: -325px; */
    }
    
    .second:hover h2{
      color: #8b8b8b;
      transition: all 0.5s ease-in-out;
    }
    .dugme button{
      background-color: #353535;
      border: none;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 30px;
    }
    .dugme2 button{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 30px;
      background-color: #353535;
      border: none;
    }
    .dugme button:hover{
      color: #ffee00;
      transition: all 0.5s ease-in-out;
    }
    .dugme2 button:hover{
      color: #ffee00;
      transition: all 0.5s ease-in-out;
    }
    .dugme2{
      position: absolute;
      bottom: -150px;
      left: 340px;
    }
    .dugme{
      lighting-color: #ffffff;
      position: absolute;
      bottom: -150px;
      left: 170px;
    }

    .container {
      position:absolute;
    left:799px;
      top: 130px;
      width: 510px;
      
    }
    
    .image {
      
      display: block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color:#ffee00;
      border-radius: 20px;
    }
    
    .container:hover .overlay {
      opacity: 1;
    }
    
    .text {
      
      color:#8b8b8b;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
    }
    