body{
  scroll-behavior: smooth;
  
  background-color: #353535;
}
*{
    margin: 10px;
    margin-top: 0;
}
.main h1{
padding: 10px;
text-align:center;
position: relative;

}
    .div1 img{
       
  max-width: 100%;
  max-height:100% ;
      
width: 1366px;
height: 700px;
object-fit: cover;

    }
h3{
    text-align: center;
}
.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);}
  .centered h1{
    color: #ffee00;
  }
  .centered h3{
    color: #ffee00;
  }
  .bottom-left {
    position: absolute;
    bottom: -147px;
    left: 170px;}
    
    .bottom-left h2{
      
      color: #ffee00;
    
    }
    .bottom-left:hover h2{
      color: #8b8b8b;
      transition: all 0.5s ease-in-out;
      
    }
    .main h1{
      color: #929292;
    }
    .main p{
      color: #929292;
      text-align: justify;
      text-align-last:center ;
    }
    .number h1{
     position: absolute;
     bottom: -260px;
     left: 20px;
     
    }
    .number{
      padding: 20px;
    }
    .paragraf{
      width: 1000px;
      margin: 1px auto;
      padding: 10px;

      /* position: absolute; */
      /* right: 112px; */
      /* bottom: -325px; */
    }
    .second{
      position: absolute;
      left: 300px;
      bottom: -147;
    }
    .second h2{
      color: #ffee00;
      
    }
    .second:hover h2{
      color: #8b8b8b;
      transition: all 0.5s ease-in-out;
    }
    .button button{
      background-color: #353535;
      border: none;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 30px;
    }
    .button2 button{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 30px;
      background-color: #353535;
      border: none;
    }
    .button button:hover{
      color: #ffee00;
      transition: all 1s ease-in-out;
    }
    .button2 button:hover{
      color: #ffee00;
      transition: all 1s ease-in-out;
    }