* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .main {
    margin: auto;
    width: 75%;
    height: 500px;
    background-color: rgb(201, 172, 153);
    display: flex;
    /* flex-direction: row; Difoulna vrednost */


    flex-direction: column;


    /* Horizontalno poravnanje ce sada biti: */
    align-items: center;


    /* Vertikalno poravnanjece sada biti: */
    justify-content:space-between


    
  }
  /*  Pomocu svojstva flex-grow svjostvo zauzima se celokupna sirina parent kontenjnera  */
  /* Devinisanje sirine nekog cild elementa bi zapravo minimalnu sirinu tog elementa */
  .box1 {
    /* flex-grow: 1; */
    width: 150px;
    /* flex-shrink:3 ; */
    height: 150px;
    background-color: #002fff;
    align-self: flex-start;
  }
  .box2 {
      /* flex-shrink:1 ; */
    /* flex-grow: 1; */
    width: 150px;
    height: 150px;
    background-color: #ff0000;
  }
  .box3 {
      /* flex-shrink:1 ; */
    /* flex-grow: 1; */
    width: 150px;
    height: 150px;
    background-color: #247e1c;
    align-self: flex-end;
  }
  